@font-face {
    font-family: 'Futura-Normal';
    src: local('MyFont'), url(./font/Futura-Normal.eot) format('eot');
    src: local('MyFont'), url(./font/Futura-Normal.svg) format('svg');
    src: local('MyFont'), url(./font/Futura-Normal.ttf) format('ttf');
    src: local('MyFont'), url(./font/Futura-Normal.woff) format('woff');
    src: local('MyFont'), url(./font/Futura-Normal.woff2) format('woff2');

}


html, body {
    height: 100%;
    overflow: hidden;
    text-align: center;
}

#root {
    height: 100%;
    overflow: hidden;
}


.App {
    text-align: center;
    height: 100%;
    background-image: url("images/bg.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 830px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.main_page {
    padding-top: 120px;
    background: url("images/bg.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    font-family: Futura-Normal, sans-serif;
}